.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 55px;
    margin: 30px 0;
}

.box h1 {
    margin-bottom: 20px ;
}

.box .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #2E4562;
    border-radius: 8px;
    padding: 10px;
    width: 70%;
}

.box .form label {
    margin: 20px 0 5px 0;
}

.box .form button {
    width: 30%;
    padding: 10px;
    font-weight: 700;
    margin: 20px 0 20px 0;
    border: none;
    border-radius: 8px;
    background-color:#2E4562;
    color: #fff;
}

input, textarea, select {
    border: 1px solid #2E4562;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    color:#2E4562 ;
    font-weight: 700;
    width: 70%;
  }

  .box .Disponível {
      background-color:#fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      margin: 30px 0;
      padding: 5px;
      width: 70%;
      background-color: rgb(240, 240, 240);
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  
  .box .Disponível .contract {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      padding: 5px 0 0 0;

  }

  .box .Disponível .data {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      padding: 5px;
  }

  .box .Disponível .data p {
    margin-right: 20px;
  }

  .box .Disponível .cupom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
      padding: 5px;

  }

  .box .text h3{
      margin: 100px 0;
  }

  .box .Disponível .cupom h4 {
    font-size: 50px;
    padding: 5px;
    color: #008000;
  }

  .box .Disponível .cupom p {
    font-size: 25px;
    padding: 0 0 5px 0;
    color: #008000;
  }


.box .Expirado {
    background-color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 30px 0;
    padding: 5px;
    width: 70%;
    background-color: rgb(240, 240, 240);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


.box .Expirado .contract {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 5px 0 0 0;

}

.box .Expirado .data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 5px;
}

.box .Expirado .data p {
  margin-right: 20px;
}

.box .Expirado .cupom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
    padding: 5px;

}

.box .Expirado .cupom h4 {
  font-size: 50px;
  padding: 5px;
  color: #8B0000;
}

.box .Expirado .cupom p {
  font-size: 25px;
  padding: 0 0 5px 0;
  color: #8B0000;
}
